* {
  box-sizing: border-box;
  font-family: "Odibee Sans", sans-serif;
}

body {
  margin: 0;
  background-image: url("./assets/fondo.png");
  height: 100vh;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
